# EduSchedule Pro - Variables d'environnement de PRODUCTION
# Renommer ce fichier en ".env" avant de l'uploader sur le serveur

DB_HOST=sql212.infinityfree.net
DB_NAME=if0_38123456_eduschedule
DB_USER=if0_38123456
DB_PASS=TON_MOT_DE_PASSE_ICI
